body {
   min-height: 100vh;
   display: grid;
   place-content: center;
   background-color: rgb(171, 193, 219);
}

.container {
   background: hsl(0, 0%, 100%);
   border-radius: 15px;
   padding: 20px;
   max-width: 300px;
   text-align: center;
   font-family: 'Outfit', sans-serif;
}

.card-image {
   width: 100%;
   border-radius: 10px;
}

img {
   max-width: 100%;
   display: block;
   border-radius: 10px;
}

p {
   color: hsl(220, 15%, 55%);
   font-size: 14px;
   line-height: 1.5;
   margin-top: 15px;
}

footer { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 20px;
}

footer a {
    color: hsl(228, 45%, 44%); 
}